/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/cypress/videos
/cypress/screenshots
/storage/*.key
/vendor
.env
.env.test
.env.backup
/database/cypress.sqlite
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docker/postgres/data
